---
layout: default
---

<div class="top-bar">
    <p class="top-bar-text">
        <a href="https://asiraat.github.io/" class="custom-link">ろうそく</a>
    </p>
</div>

<div class="image-container">
    <img src="{{ '/assets/images/blog-pic.png' | relative_url }}" alt="ブログトップ画像">
        <div class="image-text">
        <div class="main-text">こいらっくの部屋</div>
        <div class="sub-text">書く、これしか出来ないから。</div>
    </div>
</div>

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</p>
    {% if page.tags %}
    <p class="post-tags">
      タグ: {{ page.tags | join: ", " }}
    </p>
    {% endif %}
  </header>

  <div class="line-under-meta"></div>
    
  <div class="post-content">
    {{ content }}
  </div>

  <div class="line-under-meta"></div>
  <a href="https://example.com" class="top-button-container">
        <div class="circle-button">
            <span class="arrow">&lt;</span>
        </div>
        <span class="top-text">Top</span>
  </a>
</article>
